  /** HEADER **/
  #header-nav {
    background-color: #909090;
    border-radius: 0;
    border: 0;
    padding: 0;
  }
 
  .navbar-brand {
    padding: 25px 0;
  }
  .navbar-brand h1 {
    font-size: 1.5em;
    color: #222;
    text-shadow: 1px 1px 1px #222;
    margin: 0 30px;
    padding-left: 15px;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }
  
  #nav-list a {
    color: #222;
    text-align: center;
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
.navbar-collapse{
    background-color: #fff;
}
#nav-list > li{
    border-bottom: 2px solid #222;
} 
#nav-list > :nth-child(1){
    border-top: 2px solid #222;
}
li > a{
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}
li > a:focus, a:hover{
    text-decoration: none;
}
#nav-list a:hover{
    background-color: #ffffff;
}
.jumbotron{
    background-color: #909090!important;
}
  @media (max-width: 767px) {
    .navbar-brand {
      padding-top: 10px;
      height: 80px;
    }
    .navbar-brand h1 { 
      padding-top: 10px;
      font-size: 5vw; 
    }
    #collapsable-nav a { 
      font-size: 1.2em;
    }
    .navbar-default {
        position: relative;
    }
    .navbar-header button.navbar-toggle{
        border: 1px solid #222;
        transform: rotate(90deg);
         background-color: #909090;
        position: absolute;
        top: 45px;
        right: 5%;
    }
   .navbar-header .icon-bar {
      border: 2px solid #222;
    }
   .navbar-toggle> :nth-child(3){
        margin: 0 3px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-toggle{
        display: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
.navbar-toggle{
    display: none;
}
}
@media (min-width: 1200px) {
    .navbar-toggle{
        display: none;
    }
}